@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');


body {
    background-color: white;
    font-size: 18px;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.header {
    height: 80px;
    font-family: 'Acme', sans-serif;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-shrink: 0;
    padding: 26px 0 30px 20px;
}

.image-nav {
    width: 24px;
    height: 24px;
}

.header-accent {
    color: var(--dark);
}

.header-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.header-menu {
    display: inline-block;
    color: var(--dark);
    padding: 24px 0;
    border: none;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 6px 16px 6px 16px;
    flex-direction: column;
    gap: 8px;
}

.header-menu:hover {
    border-radius: 1000px;
    border: 1px solid var(--website-button-bluetiful, #0168FC);
}

.header-menu:active {
    color: #0168FC;
}

.right-buttons {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.primary {
    border-radius: 1000px;
    background: #0168FC;
    color: white;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
}

.primary:hover {
    background-color: #004db8;
}

.select-container {
    display: inline-block;
    padding: 8px 20px 8px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 1px solid var(--website-button-blue, #CBD7E8);
    direction: rtl;
}

select {
    font-family: 'Acme', sans-serif;
    border: none;
    font-size: 18px;
}

select:hover {
    cursor: pointer;
    color: #0168FC;
}

.about-us {
    height: 1024px;
    padding: 20px;
}

.blue-container {
    display: flex;
    height: 984px;
    padding: 232px 98px;
    justify-content: center;
    align-items: center;
    gap: 109px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #01A0FE;
}

.text h1 {
    width: 695px;
    color: var(--website-headline-white, #FFF);
    font-family: Almarai;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: -1px;
}

.text p {
    color: #FFF;
    font-family: 'Almendra';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.image-main {
    width: 454px;
    height: 520px;
    flex-shrink: 0;
}

.get-in-touch {
    height: 900px;
    display: flex;
    padding-left: 98px;
}

.get-in-touch h2 {
    color: #000029;
    font-family: Alef;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: -1px;
}

.contacts-left {
    width: 50%;
}

.form {
    width: 50%;
}

.contacts {
    color: #2c2c44;
    font-family: Acme;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 381px;
}

.form-buttons {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 16px;
}

.custom-checkbox {
    border-radius: 1000px;
    border: 1px solid var(--website-button-blue, #CBD7E8);
    cursor: pointer;
    color: var(--website-button-oxford-blue, #000029);
    text-align: center;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
}

.custom-checkbox:hover {
    color:#ffffff;
    background-color: #0168FC;
}
.custom-checkbox:active {
    color:#ffffff;
    background-color: #0168FC;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked {
    background-color: #000;
    color: #fff;
}
